html {
  scroll-behavior: smooth;
}
body {
  font-family: "Syne", sans-serif;
  color: #343a40;
  line-height: 1;
  background-color: black;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: block;
}

.pro1 {
  display: inline;
  text-decoration: none;
  color: black;
}
.pro1:hover {
  color: white;
}
.cont1,
.cont2,
.cont3 {
  padding: 50px 50px;
  margin: 10px;
  color: white;
}

.name {
  font-size: 52px;
  font-weight: 800;
}

.domain {
  font-size: 18px;
  font-weight: 400;
}

.about {
  font-size: 16px;
  color: #868a9c;
}

.icon {
  height: 24px;
  width: 24px;
  padding-bottom: 3px;
}

.skill {
  font-size: 52px;
  font-weight: 700;
}

.icon-skill {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  align-content: center;
}

.skills-header {
  font-weight: 800;
}

.web-ul {
  margin-left: 0;
  font-weight: 400;
}

.skillsul {
  list-style: square;
  line-height: 1.5;
}

.certification-ol {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
}

/* footer */

.footer {
  background-color: #2b2b2b;
  padding-bottom: 10px;
}

.footer .container {
  display: grid;
  gap: 20px;
}

.social-list {
  display: flex;
  gap: 8px;
}

.social-list {
  list-style: none;
}

.social-pro {
  margin-left: 34px;
}

.web-skill,
.prog-skill,
.other-skill,
.project1,
.project2,
.project3 {
  background-color: white;
  color: black;
}

.web-skill:hover,
.prog-skill:hover,
.other-skill:hover,
.project1:hover,
.project2:hover,
.project3:hover {
  background-color: black;
  color: white;
}

.web-skill:hover .icon-skill1 {
  fill: white;
  border: 2px solid black;
}
/* .prog-skill:hover {
  background-color: black;
  color: white;
} */
.prog-skill:hover .icon-skill2 {
  fill: white;
  border: 2px solid black;
}
/* .other-skill:hover {
  background-color: black;
  color: white;
} */
.other-skill:hover .icon-skill3 {
  fill: white;
  border: 2px solid black;
}

/* project section */

.web-skill:hover {
  background-color: black;
  color: white;
}

.web-skill:hover .icon-skill1 {
  fill: white;
  border: 2px solid black;
}
.prog-skill:hover {
  background-color: black;
  color: white;
}
.prog-skill:hover .icon-skill2 {
  fill: white;
  border: 2px solid black;
}
.other-skill:hover {
  background-color: black;
  color: white;
}
.other-skill:hover .icon-skill3 {
  fill: white;
  border: 2px solid black;
}

/* .skill-sec {
  background-color: white;
  color: black;
} */
.skill-info {
  color: #868a9c;
}

/* .certification-info {
  background-color: white;
  color: black;
} */

.certification-title,
.skillsec .project-title {
  padding-bottom: 0;
}

.project-info {
  color: #868a9c;
}

/* .project1:hover {
  cursor: pointer;
} */

a {
  display: block;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.navtitle {
  font-size: 24px;
  font-weight: 700;
}

.navname {
  font-size: 18px;
  font-weight: 500;
}

.pic {
  border-radius: 50%;
}
